header {
  padding: 2.7rem 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  border: none;
  padding: 1.1rem 1.4rem;
  border-radius: 8px;
  background-color: #e8eff2;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.63;
  color: #162542;
  font-family: inherit;
  transition: 0.3s;
}

header button:hover {
  background-color: #162542;
  cursor: pointer;
  color: white;
}

header button:active {
  background-color: #f16718;
}

@media only screen and (min-width: 48rem) {
  header {
    padding: 4.9rem 3.9rem;
  }
  header button {
    padding: 1.6rem 2.7rem;
  }
}

@media only screen and (min-width: 90rem) {
  header {
    padding: 6.4rem 16.5rem 0;
  }
}
