footer {
  margin-top: 9.6rem;
  padding: 0 2.4rem 0 5.1rem;
}

footer p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63;
  color: #7b8bad;
  text-align: center;
}

@media only screen and (min-width: 48rem) {
  footer {
    text-align: left;
    margin: 14.2rem 24.9;
  }
}

@media only screen and (min-width: 90rem) {
  footer {
    text-align: left;
    margin: unset;
  }
}
