.hero-section {
  padding: 0 2.4rem;
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

h1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1;
  color: #162542;
  text-transform: uppercase;
}

.hero-text {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63;
  color: #7b8bad;
}

.order-release-btns {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.63;
}

.order-btn {
  border: none;
  border-radius: 8px;
  padding: 1.1rem 1.4rem;
  background-color: #f16718;
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  transition: 0.3s;
}

.order-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.order-btn:active {
  background-color: rgb(210, 17, 10);
  opacity: 1;
}

.release {
  color: #7b8bad;
}

#KeyboardIMG {
  align-self: flex-end;
}

#KeyboardIMG img {
  width: 35.1rem;
  height: 33.1rem;
  background-image: url(/public/images/shared/pattern-square.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  position: relative;
  left: 5rem;
}
.keyboard-section {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
  position: relative;
  left: -1.6rem;
}

.image-one {
  width: 12.7rem;
  height: 19.3rem;
  position: relative;
  border-radius: 20px;
  overflow-y: hidden;
}

.image-one img {
  width: 100%;
  height: 100%;
}

.image-one::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f46918;
  mix-blend-mode: multiply;
}

.image-two {
  width: 22rem;
  height: 19.3rem;
  border-radius: 20px;
}

.image-two img {
  width: 112%;
  height: 100%;
  border-radius: 20px;
}

.keyboard-section-content {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
  padding: 0 2.4;
}

.content-head {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.13;
  color: #162542;
  text-transform: uppercase;
}

.content-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63;
  color: #7b8bad;
}

.features {
  margin-top: 11.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6.4rem;
  padding: 2.4rem;
  text-align: center;
  justify-content: center;
}

.features-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
}

.features-content div {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #f16718;
}

.features-content h3 {
  margin-top: 4.8rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.17;
  text-align: center;
  color: #162542;
}

.features-content p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  color: #7b8bad;
  margin-top: 2.4rem;
}

@media only screen and (min-width: 48rem) {
  main {
    margin-top: 6.2rem;
  }

  .hero-section {
    flex-direction: row;
    padding-left: 3.9rem;
    align-items: center;
  }

  .hero-text {
    margin-top: 3.4rem;
  }
  .order-release-btns {
    margin-top: 3.9rem;
    gap: 3.7rem;
  }

  .order-btn {
    padding: 1.6rem 2.6rem;
  }

  #KeyboardIMG img {
    width: 47.8rem;
    height: 42.5rem;
  }

  .images {
    gap: 3.05rem;
    margin-top: 4rem;
    justify-content: center;
  }

  .image-one {
    width: 21.4rem;
    height: 32rem;
    border-radius: 20px;
    overflow-y: hidden;
  }

  .image-one img {
    content: url("/public/images/tablet/image-phone-and-keyboard.jpg");
    width: 21.4rem;
    height: 32rem;
  }

  .image-two {
    width: 44.4rem;
    height: 32rem;
  }

  .image-two img {
    width: 44.4rem;
    height: 32rem;
    content: url("/public/images/tablet/image-glass-and-keyboard.jpg");
  }

  .keyboard-section-content {
    margin-top: 7.2rem;
    flex-direction: row;
    gap: 3.6rem;
    align-items: center;
    padding: 0 4rem;
    text-align: left;
  }

  .features {
    margin-top: 14.2rem;
    flex-direction: row;
    gap: 7.2rem;
    padding: 3.9rem;
  }

  .features-content {
    align-items: flex-start;
  }

  .features-content h3 {
    text-align: left;
    margin-top: 4rem;
  }

  .features-content p {
    text-align: left;
  }
}

@media only screen and (min-width: 90rem) {
  main {
    margin-top: 8.3rem;
  }

  h1 {
    font-size: 5.6rem;
    text-align: left;
  }

  .hero-section {
    padding: 0 16.5rem;
  }

  .hero-text {
    margin-top: 2.4rem;
    font-size: 1.8rem;
  }

  .order-release-btns {
    margin-top: 4rem;
    gap: 4rem;
  }

  #KeyboardIMG img {
    width: 54.4rem;
    height: 48rem;
    border-radius: 20px;
  }
  .keyboard-section {
    flex-direction: row;
    align-items: center;
    padding: 0 16.5rem;
    gap: 12.5rem;
  }

  .images {
    margin-top: 3rem;
  }

  .image-one {
    width: 25.5rem;
    height: 48rem;
    border-radius: 20px;
    overflow-y: hidden;
  }

  .image-one img {
    width: 25.5rem;
    height: 48rem;
    content: url("/public/images/desktop/image-phone-and-keyboard.jpg");
  }

  .image-two {
    width: 44.4rem;
    height: 48rem;
  }

  .image-two img {
    width: 44.4rem;
    height: 48rem;
    content: url("/public/images/desktop/image-glass-and-keyboard.jpg");
  }

  .keyboard-section-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.7rem;
  }

  .features {
    gap: 3rem;
    flex-wrap: unset;
    padding: 16.5rem;
    justify-content: center;
    align-items: flex-start;
    margin: unset;
  }
}
